body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

canvas {
  background-color: white;
}

nav{
  align-items: center;
  display: flex;
}

nav a {
  display: inline-block;
  margin: 1em;
}

a {
  color:whitesmoke;
}

h5 {
  color: whitesmoke;
}
.sketch-picker {
  width: 400px !important;
}

p {
  color: whitesmoke;
}
.compact-picker{
  color: "ff0000";
}
.form-select {
  width: 58px;
  margin-right: 0 !important;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  opacity: 25%;
}

#title {
  margin-left: 10px;
  color: whitesmoke;
}

#login {
  width: 300px;
  margin-top: 250px;
}

#canvas-container {
  margin-left: 0;
  padding-left: 0 !important;
}

#c-container{
  padding-left: 0;
}
#myCanvas {
  padding-left: 0;
}
#controls {
  position: fixed;
  top: 72px;
  left: 1005px;;
}
#button-controls {
  width: 420px;
}
