body {
  font-family: sans-serif;
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}

canvas {
  background-color: white;
}

nav{
  align-items: center;
  display: flex;
}

nav a {
  display: inline-block;
  margin: 1em;
}

a {
  color:whitesmoke;
}

.sketch-picker {
  width: 400px !important;
}

.compact-picker{
  color: "ff0000";
}

.form-select {
  width: 58px;
  margin-right: 0 !important;
}

.card {
  width: 500px;
  margin-top: 40px;
}

#post-container {
  column-gap: 200px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  opacity: 25%;
}

#title {
  font-family: 'Finger Paint', cursive;
  margin-left: 10px;
  color: whitesmoke;
}

#login {
  width: 300px;
  margin-top: 250px;
}

#canvas-container {
  margin-left: 0;
  padding-left: 0 !important;
}

#c-container{
  padding-left: 0;
}

#myCanvas {
  padding-left: 0;
}

#controls {
  position: fixed;
  top: 72px;
  left: 1005px;;
}

#button-controls {
  width: 420px;
}

a#title.me-auto {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
